/*INPUTS*/
.userInput{
    background: var(--b2);
    padding: var(--pd_btn);
    border:none;
    border-radius: var(--radius);
    box-shadow: var(--box_shadow);
    color: var(--txt_color);
}

.userInput:focus{
    padding-left: 20px;
    padding-right: 20px;
}