nav.breadcrumb {
    margin-bottom: 0;
    padding: 15px;
    background-color: rgba(var(--RGB-menu), .7);
    backdrop-filter: blur(5px);
}

nav.breadcrumb > li {
    display: inline-block;
    cursor: pointer;
    color: rgba(var(--RGB-text-color),.8);
}

nav.breadcrumb > li + li:before {
    padding: 0 5px;
    color: rgba(var(--RGB-text-color),.7);
    content: "/\00a0";
} 

nav.breadcrumb > li:last-child {
    color: rgba(var(--RGB-text-color),1);
}
