.material-nav {
    background-color: rgb(var(--RGB-menu),.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 64px;
    justify-content: center;
    padding: 0 16px;
    margin: 0;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.material-nav li.tab {
    list-style-type: none;
    margin: 0px 2.5px;
    cursor: pointer;
    padding: 7px 12px;
    transition: background var(--fast);
    border-radius: 10rem;
    
}

.material-nav li.tab:hover {
    background-color: var(--background-alternative);
}


/**
*   Icon tabs 
*/
.material-nav li.icon-tab {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: .5rem 1rem;
    box-sizing: content-box;
    font-size: .75rem;
    border-radius: .5rem;
    color: var(--text-color);
    transition: background var(--fast);
}

.material-nav li.icon-tab a{
    color: var(--text-color);
}

.material-nav li.icon-tab a {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.material-nav li.icon-tab i {
    font-size: 1.3rem;
    padding: .2rem;
    color: var(--text-alternative);
}

.material-nav li.icon-tab.selected, .material-nav li.icon-tab:focus  {
    background-color: rgb(var(--RGB-contrast),.7);
}

.material-nav li.icon-tab *:focus {
    outline: none;
}

