.box-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-x-center{
    display: flex;
    justify-content: center;
}

.box-x-start{
    display: flex;
    justify-content: flex-start;
}

.box-x-end{
    display: flex;
    justify-content: flex-end;
}

.box-x-around{
    display:flex;
    justify-content: space-around;
}

.box-x-between{
    display: flex;
    justify-content: space-between;
}

.box-y-center{
    display: flex;
    align-items: center;
}

.box-y-start{
    display: flex;
    align-items: flex-start;
}

.box-y-end{
    display: flex;
    align-items: flex-end;
}   

.box-wrap{
    display: flex;
    flex-wrap: wrap;
}

.box-column{
    display: flex;
    flex-direction: column;
}

.box-column-reverse{
    display: flex;
    flex-direction: column-reverse;
}

.box-row{
    display: flex;
    flex-direction: row;
}

.box-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.box-fraction{
    --n: 1;
    width: calc(100% / var(--n));
}