:root[data-bubble=material] * {
    color: var(--on-background-color);
}

:root[data-bubble=material] .primary {
    background: var(--primary-color);
    color: var(--on-primary-color);
}


:root[data-bubble=material] .primary-container {
    border-radius: 1rem;
    background: var(--primary-container-color);
    color: var(--on-primary-container-color);
}

:root[data-bubble=material] .secondary {
    background: var(--secondary-color);
    color: var(--on-secondary-color);
}

:root[data-bubble=material] .secondary-container {
    border-radius: 1rem;
    background: var(--secondary-container-color);
    color: var(--on-secondary-container-color);
}

:root[data-bubble=material] .tertiary {
    background: var(--tertiary-color);
    color: var(--on-tertiary-color);
}

:root[data-bubble=material] .tertiary-container {
    border-radius: 1rem;
    background: var(--tertiary-container-color);
    color: var(--on-tertiary-container-color);
}

:root[data-bubble=material] .error {
    background: var(--error-color);
    color: var(--on-error-color);
}

:root[data-bubble=material] .error-container {
    border-radius: 1rem;
    background: var(--error-container-color);
    color: var(--on-error-container-color);
}

:root[data-bubble=material] .surface {
    background: var(--surface-color);
    color: var(--on-surface-color);
    border-radius: 1rem;
}
