.primary {
    background: var(--primary-color);
    color: var(--on-primary-color);
}

.primary-container {
    border-radius: 1rem;
    background: var(--primary-container-color);
    color: var(--on-primary-container-color);
}

.secondary {
    background: var(--secondary-color);
    color: var(--on-secondary-color);
}

.secondary-container {
    border-radius: 1rem;
    background: var(--secondary-container-color);
    color: var(--on-secondary-container-color);
}

.tertiary {
    background: var(--tertiary-color);
    color: var(--on-tertiary-color);
}

.tertiary-container {
    border-radius: 1rem;
    background: var(--tertiary-container-color);
    color: var(--on-tertiary-container-color);
}

.error {
    background: var(--error-color);
    color: var(--on-error-color);
}

.error-container {
    border-radius: 1rem;
    background: var(--error-container-color);
    color: var(--on-error-container-color);
}

.surface-1 {
    background: var(--surface-1);
    color: var(--on-surface-1);
    border-radius: 1rem;
}

.surface-2 {
    background: var(--surface-2);
    color: var(--on-surface-3);
    border-radius: 1rem;
}

.surface-3 {
    background: var(--surface-3);
    color: var(--on-surface-3);
    border-radius: 1rem;
}

.surface-4 {
    background: var(--surface-4);
    color: var(--on-surface-4);
    border-radius: 1rem;
}

.surface-5 {
    background: var(--surface-5);
    color: var(--on-surface-5);
    border-radius: 1rem;
}

.surface-6 {
    background: var(--surface-6);
    color: var(--on-surface-6);
    border-radius: 1rem;
}

