/*
    General variables of the framework
*/
:root {
    
    --font:                 'Open Sans', sans-serif;
    --font-light:           'Open Sans light', sans-serif;
    --font-title:           'Open Sans', sans-serif;
    --font-console:         'Ubuntu Mono', monospace;

    --animation-fast:         .25s;
    --animation-medium:       .5s;
    --animation-slow:         .75s;
    --animation-super-slow:   1s;

    --primary-color:                #4A5C92;
    --on-primary-color:             #FFFFFF;
    --primary-container-color:      #f4f4f4;
    --on-primary-container-color:   #00174B;

    --secondary-color:              #585E72;
    --on-secondary-color:           #FFFFFF;
    --secondary-container-color:    #EEEEEE;
    --on-secondary-container-color: #161B2C;

    --tertiary-color:               #745471;
    --on-tertiary-color:            #FFFFFF;
    --tertiary-container-color:     #E3E3E3;
    --on-tertiary-container-color:  #2B122B;

    --error-color:                  #BA1A1A;
    --on-error-color:               #FFFFFF;
    --error-container-color:        #FFDAD6;
    --on-error-container-color:     #410002;

    --background-color:             #fafafa;
    --on-background-color:          #1A1B21;
    --surface-color:                #fafafa;
    --on-surface-color:             #1A1B21;

    --item-background-color:        #fafafa;
    --on-item-background-color:     #000;

    margin:     0;
    padding:    0;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

:root[data-theme=light-you]{

    --primary-color:                #4A5C92;
    --on-primary-color:             #FFFFFF;
    --primary-container-color:      #DBE1FF;
    --on-primary-container-color:   #00174B;

    --secondary-color:              #585E72;
    --on-secondary-color:           #FFFFFF;
    --secondary-container-color:    #C6D0FF;
    --on-secondary-container-color: #161B2C;

    --tertiary-color:               #745471;
    --on-tertiary-color:            #FFFFFF;
    --tertiary-container-color:     #B6C3FF;
    --on-tertiary-container-color:  #2B122B;

    --error-color:                  #BA1A1A;
    --on-error-color:               #FFFFFF;
    --error-container-color:        #FFDAD6;
    --on-error-container-color:     #410002;

    --background-color:             #F6F5FF;
    --on-background-color:          #1A1B21;
    --surface-color:                #F6F5FF;
    --on-surface-color:             #1A1B21;

    --item-background-color:        #F6F5FF;
    --on-item-background-color:     #000;
    
}

:root[data-theme=dark] {

    --primary-color:                #B4C5FF;
    --on-primary-color:             #1A2E60;
    --primary-container-color:      #222222;
    --on-primary-container-color:   #DBE1FF;

    --secondary-color:              #C1C6DD;
    --on-secondary-color:           #2A3042;
    --secondary-container-color:    #2D2D2D;
    --on-secondary-container-color: #DDE1F9;

    --tertiary-color:               #E2BBDC;
    --on-tertiary-color:            #422741;
    --tertiary-container-color:     #444444;
    --on-tertiary-container-color:  #FFD6F8;

    --error-color:                  #BA1A1A;
    --on-error-color:               #FFFFFF;
    --error-container-color:        #FFDAD6;
    --on-error-container-color:     #410002;

    --background-color:             #1A1A1A;
    --on-background-color:          #EEEEEE;
    --surface-color:                #1A1A1A;
    --on-surface-color:             #EEEEEE;

    --item-background-color:        #2D2D2D;
    --on-item-background-color:     #E3E2E9;

}

/*
    Accessibility feature for reduced motion
*/
@media (prefers-reduced-motion) {
    /* TODO Standard reduced motion*/
}