.monochrome {
    --scale : 100;
    filter: grayscale(var(--scale));
}

.blur {
    --scale : 100px;
    filter: blur(var(--scale));
}

.saturate {
    --scale : 1.5;
    filter: saturate(var(--scale));
}

.bright {
    --scale : 1.5;
    filter: brightness(var(--scale));
}



