.minimalInput{
    border: none;
    background: none;
    padding: 10px;
   
    color: var(--txt_color);
    font-size: 1.2em;
}

.minimalInput:focus{
    outline: none;
    animation: minimalInputAnim 1s;
}

.minimalInput:hover{border-bottom: .5px solid var(--accent_color);}
.minimalInput[type=text]:focus{color:var(--accent_color);}
