/*FLEX OPTIONS*/
.centerFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexWarp{
    display: flex;
    flex-wrap: wrap;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.b-fr{
    --n: 1;
    width: calc(100% / var(--n));
}
