@import "scrollbar/scrollbar.css";
@import "sections/sections.css";
@import "buttons/buttons.css";
@import "inputs/userIn.css";
@import "tables/tables.css";
@import "headers/headers.css";
@import "navbars/navbars.css";
@import "errors/errors.css";
@import "containers/containers.css";
@import "text/text.css";



/*IMAGES*/
.img{
    border-radius: var(--radius);
    box-shadow: var(--box_shadow);
    width: 100%;
}