.adaptableSection{
    --width:                80%;
    --padding:              15px;
    --display:              flex;
    --flex-direction:       column;
    --max-width:            calc(800px - (var(--padding)*2));
    --background-color:     var(--b2);
    --color:                var(--txt_color);
    --box-shadow:           var(--box_shadow);
    --radius:               6px;

    width:              var(--width);
    max-width:          var(--max-width);
    padding:            var(--padding);
    background-color:   var(--background-color);
    color:              var(--color);
    display:            var(--display);
    flex-direction:     var(--flex-direction);
    box-shadow:         var(--box-shadow);
    border-radius:      var(--radius);
}

.adaptableSection img{
    --position:     relative;
    --width:        calc(100% - 20px);
    --height:       70%;
    --align-self:   center;
    --margin:       0;
    --margin:       20px;
    --radius:       6px;


    position:       var(--position);
    width:          var(--width);
    height:         var(--height);
    align-self:     var(--align-self);
    margin:         var(--margin);
    margin-top:     var(--margin);
    margin-bottom:  var(--margin);
    border-radius:  var(--radius);
}


