.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    .column {
        flex: 1;
    }
}
