
@import "modules/akstrap_def/css/gestor.css";
@import "modules/sotchapp_def/css/gestor.css";

/*VARIABLES HTML*/
html{
    --bg: #fafafa;
    --b2: #fefefe;
    --b3: #fff;
    --font:'Roboto light', sans-serif;
    --fontTitle:'Roboto', sans-serif;
    --txt_color: #404040;
    --error_color: #EB5757;
    --accent_color: dodgerblue;
    --accent_color_light: #80c0ee;
    --box_shadow: 0px 2px 4px rgba(0,0,0,.15);
    --box_shadow_right: 2px 0px 4px rgba(0,0,0,.15);
    --radius: 3px;
    --pd_btn: 10px;
    --pd_in: 5px;
    --margin: 10px;
    --outline: .5px solid lightgray;
    
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden ;
    -webkit-tap-highlight-color: transparent;
}

html[data-theme = "dark"]{
    --bg: #202020;
    --b2: #1B1B1B;
    --b3: #242424;
    --txt_color: #eaeaea;
    --box_shadow: 0px 2px 4px rgba(0,0,0,.15);
    --box_shadow_right: 2px 0px 4px rgba(0,0,0,.15);
    --outline: .5px solid #161616;
}

*{transition: .25s;}
*:focus{outline: var(--outline);}

/*ELEMENT OPTIONS*/
body{
    position: relative;
    background: var(--bg);
    color: var(--txt_color);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    width:100vh;
}

input[type=checkbox]{margin: 10px;}
label{cursor: pointer;}
label:hover{ color: var(--accent_color)}

h1{font-family: var(--fontTitle);}