div.context {
    display: block;
    margin: 0;
    list-style: none;
    position: fixed;
    z-index: 100;
    background: rgb(var(--RGB-contrast), .7);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: .4rem;
    box-shadow: var(--default-box-shadow);
    width: 200px;
    min-height: 180px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* context menu custom scrollbar */
div.context::-webkit-scrollbar {
    background: rgba(0, 0, 0, .01);
    width: .5rem;
}

div.context::-webkit-scrollbar-thumb {
    background: rgba(31, 31, 31, .2);
    border-radius: .4rem;
}

/* context menu title */
div.context .title {
    display: block;
    margin-top: .5rem;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(var(--RGB-text-color));
}

/* menu options */
div.context li {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

div.context li:hover {
    background: rgba(0, 0, 0, .05);
}

div.context li span {
    display: block;
    margin-left: .5rem;
}

div.context span.separator {
    display: block;
    height: .1rem;
    margin: 2px 0px;
    border-radius: 1px;
    background: rgba(0, 0, 0, .15);
    cursor: default;
}