<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web - news</title>
        <link rel="stylesheet" href="/css/akstrap_v1.0/master.css">
    </head>
    <body class="web_show_def">
        <nav class="horizontalBar">
            <img src="../../img/commons/icons/tries/logo.png" class="logo" alt="">
            <li><a href="">Home</a></li>
            <li><a href="">Design</a></li>
            <li><a href="">About us</a></li>
        </nav>
        <main>
            <div class="prettyPost">
                <img class="profile_pic" src="../../img/commons/icons/logo.svg" alt="">
                <h1 class="username">Admin</h1>        
                <img src="../../img/commons/jpg/photo-1540959733332-eab4deabeeaf.jpg" alt="">
                <h2>Subtitulo de coso de cosoo de ...</h2>
            </div>
            <div class="prettyPost">
                <img class="profile_pic" src="../../img/commons/icons/logo.svg" alt="">
                <h1 class="username">Admin</h1>        
                <img src="../../img/commons/png/example.png" alt="">
                <h2>Subtitulo de coso de cosoo de ...</h2>
            </div>
        </main>
    </body>
</html>