<!DOCTYPE html>
<html lang="en" data-theme="d-ark" class="accentRed">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WebApp - home</title>
        <link rel="stylesheet" href="/css/akstrap_v1.0/master.css">
    </head>
    <body class="webApp_def">
        <nav class="sideBar">
            <div class="sideBarHeader">
                <img class="sideBarLogo" src="../../img/commons/icons/email.svg" alt="">
                <h1>Email.com</h1>
            </div>
            <div class="sideBarContent">
                <button class="accentBtn">Bandeja de entrada</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Enviados</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Spam</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Archivos</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Grupos</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Carpeta #1</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Carpeta #2</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Carpeta #3</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Carpeta #4</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Carpeta #5</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Carpeta #6</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Carpeta #7</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Carpeta #8</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Carpeta #9</button>
                <button class="minimalBtn textColor minimalBtnAccent leftText">Carpeta #10</button>
            </div>
            <div class="sideBarFooter">
                <h1>akrck02</h1>
                <img class="sideBarIcon" src="../../img/commons/icons/settings.svg" alt="">
            </div>
        </nav>
        <header class="appBar"></header>
        <main>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
            <div class="infoSection">
                <img class="infoImg" src="../../img/commons/png/example.png" alt="">
                <p class="from">Akrck02@gmail.com</p>
                <p class="title">Top secret documents</p>
                <p class="msg">¡Hey you, fool!</p>
            </div>
        </main>
    </body>
</html>