.minimalInput{
    border: none;
    background: none;
    padding: 10px;
   
    color: var(--txt_color);
    font-size: 1.2em;
    
    border-bottom: 2px solid transparent;
}
.minimalInput:focus{outline: none;}
.minimalInput:hover{ border-bottom: 2px solid var(--accent_color);}
.minimalInput[type=text]:focus{color:var(--accent_color);}
