.prettyCheck input{
    --position: absolute;
    --opacity: 0;
    --cursor: pointer;
    --height: 0;
    --width: 0;

    position:   var(--position);
    opacity:    var(--opacity);
    cursor:     var(--cursor);
    height:     var(--height);
    width:      var(--width);
}


.prettyCheck{
    --display:          flex;
    --justify-content:  center;
    --align-items:      center;
    --padding:          5px;
    --color:            var(--accent_color); 
    
    display:            var(--display);
    justify-content:    var(--justify-content);
    align-items:        var(--align-items);
    padding:            var(--padding);
}

.checkmark {
    --position:             relative;
    --top:                  0;
    --left:                 0;
    --border-radius:        12%;
    --height:               25px;
    --width:                25px;
    --margin:               10px;
    --box-shadow:           var(--box_shadow);
    --background-color:     var(--b4);

    box-sizing:border-box;
    position:           var(--position);
    top:                var(--top);
    left:               var(--left);
    border-radius:      var(--border-radius);
    height:             var(--height);
    width:              var(--width);
    margin:             var(--margin);
    box-shadow:         var(--box-shadow);
    background-color:   var(--background-color);
    border:             5px solid transparent;
  }

.prettyCheck  input:checked ~ .checkmark {
    border: 5px solid var(--color);
    --background-color: var(--b2);
}