button {
    border: 0;
    margin: 10px;
    padding: 7px;
    box-shadow: var(--default-box-shadow);
    border-radius: var(--default-border-radius);
    background: var(--contrast);
    color: var(--text-color);
    cursor: pointer;
}

