:root[data-bubble=material] button {
    padding: .65rem 1rem;
    margin: 0.5rem .5rem; 
    border-radius: 6rem;
    box-shadow: none;
    cursor: pointer;
    font-size: 1rem;
    height: 3rem;
    min-width: fit-content;

    background: var(--item-background-color);
    color: var(--on-item-background-color);
    transition: transform var(--animation-fast) ease-in-out, filter var(--animation-fast) ease-in-out;
}

:root[data-bubble=material] button:hover, 
:root[data-bubble=material] button:focus {
   filter: brightness(.9);
}

:root[data-bubble=material][data-theme=dark] button:hover,
:root[data-bubble=material][data-theme=dark] button:focus {
    filter: brightness(1.2);
}

[data-bubble=material] button:active {
    transform: scale(.92);
}

