.prettyNavbar{
    --position:         fixed;
    --width:            300px;
    --padding:          50px;
    --z-index:          5;
    --top:              70px;
    --left:             -500px;
    --margin:           0;
    --display:          flex;
    --flex-direction:   column;
    --align-items:      center;
    --overflow:         auto;
    --transition:       .5s;
    --box-shadow:       var(--box_shadow_right);
    --background:       var(--b2);
    --height:           calc(100vh - var(--top));
    

    position:           var(--position);
    background:         var(--background);
    width:              var(--width);
    height:             var(--height);
    padding:            var(--padding);
    z-index:            var(--z-index);
    top:                var(--top);
    left:               var(--left);
    margin:             var(--margin);
    box-shadow:         var(--box-shadow);
    display:            var(--display);
    flex-direction:     var(--flex-direction);
    align-items:        var(--align-items);
    overflow:           var(--overflow);
    transition:         var(--transition);
}
.prettyNavbar .prettyNavbarList{
    --margin:   10px;
    margin:     var(--margin);
}
.prettyNavbar .prettyNavbarList{
    --position:         relative;
    --list-style-type:  none;
    --font-size:        1.2em;
    --width:            calc(80% - 30px);
    --border-radius:    var(--radius);

    position:           var(--position);
    list-style-type:    var(--list-style-type);
    width:              var(--width);
    font-size:          var(--font-size);
    border-radius:      var(--border-radius);
}

.prettyNavbar a{
    --position:     relative;
    --display:      block;
    --padding:      15px;
    --margin:       0;

    position:       var(--position);
    display:        var(--display);
    padding:        var(--padding);
    margin:         var(--margin);
}

.prettyNavbar .prettyNavbarList:hover{
    --background:   var(--bg);
    --transform:    translateY(-3px);

    background:     var(--background);
    transform:      var(--transition);
}

.prettyNavbar .prettyNavbarList .prettyNavbarAnchor{
    --display:          block;
    --position:         relative;
    --text-decoration:  none;
    --color:            var(--txt_color);
    --width:            calc(100% - 30px);

    display:            var(--display);
    position:           var(--position);
    color:              var(--color);
    text-decoration:    var(--text-decoration);
    width:              var(--width);
}

.prettyNavbar .prettyNavbarList.accent{
    background: var(--accent_color);
    box-shadow: var(--box_shadow);
}
.prettyNavbar .prettyNavbarList.accent .prettyNavbarAnchor{
    --color:    var(--bg);
    color:      var(--color);
}


@media (max-width: 700px) {
    .prettyNavbar{
        --left:       -100%;
        --top:        70px;
        --width:      calc(100% - 100px);
        --height:     calc(100vh - var(--top));
        

        width:      var(--width);
        height:     var(--height);
        top:        var(--top);
        left:       var(--left);
    }
  }